/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family:"맑은고딕", "malgun gothic", MS PGothic,Arial,Hiragino Kaku Gothic ProN,Osaka,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Swiper */
.swiper_wrapper {
    margin-top:20px;
    padding:20px 0;
    border-top:1px dashed #ccc;
}
.swiper_wrapper h2 {
    text-align:left;
    font-size:18px;
    font-weight:bold;
    margin:0 0 20px 10px;
}


#map {display:none;}
#googleMap {width:100%;}
#googleMap > p {margin:10px 0;line-height:20px;font-size:16px;text-align:center;}
#daumRoughmapContainer1501237294692 {width:100%;margin:20px auto;}

#htmlDOM {text-align:center;}
#marriage_title {margin:20px 0;font-size:14px;color:#333;}
#marriage_greeting {margin:20px 0;padding-bottom:20px;line-height:18px;font-size:12px;border-bottom:1px dashed #ccc;}
#marriage_img {margin:0 auto;width:100%;}
.marriage_stay {margin:20px 0;padding-bottom:20px;border-bottom:1px dashed #ccc;}
.marriage_stay p {margin-top:10px;font-size:18px;}
.people_list {margin:20px 0;overflow:hidden;color:#f00;}
.people_list a {margin:0 10px;color:#333;font-weight:bold;font-size:18px;}
.parents {overflow:hidden;}
.parents ul {margin-top:10px;}
.parents li {margin-top:10px;}
.parents > div {float:left;width:50%;}
.parents > div a {color:#0064ff;font-size:14px;text-decoration:none;}
.parents strong {font-weight:bold;color:#333;}
.parents .male {position:relative;}
.parents .male:after {width:1px;height:100%;position:absolute;right:0;top:0;content:'';border-right:1px dashed #ccc;}
.parents .female {}

@media screen and (min-width:360px) {
    #marriage_title {font-size:16px;}
}
@media screen and (min-width:412px) {
    #marriage_title {font-size:18px;}
}
@media screen and (min-width:430px) {
    #marriage_title {font-size:20px;}
}